lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store
.idea
.sass-cache
pids
logs
results

config/local.json
config/local-development.json
public/dist/images
public/dist

npm-debug.log
node_modules
.idea
